<div class="container-fluid">
    
    <div class="row">
        <div class="col-sm-3">
            <h2>Innovative Ideas</h2>
            <p>
                Creativity has no limit. And some of the things that people can imagine and create can actually leave us spellbound.
                And the whole point of our imagination and creativity is to make our lives easier and better
            </p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Technology Trainings </h2>
            <p>This section is for technology training that the experts can teach to other educators.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Computer Science Talks</h2>
            <p>In the evolving world of computer science, it can be difficult to stay on the cutting edge. One of the best ways to keep your knowledge and your inspiration updated is to stay engaged with the brightest minds and latest ideas.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Advanced Courses</h2>
            <p>One of the most amazing innovations in online learning over the past few years has been the growth and development of massive open online courses, better known as MOOCs. Generally speaking, MOOCs are college-level courses made available, free of charge, for unlimited participation by any and all students interested in the subject matter. </p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
    </div>
    

</div>