
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Innovation Platform - Landing Page</title>
</head>
<body id="page-top" class="landing-page no-skin-config">


 
	
	
	
	<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <h2>Innovative Ideas</h2>
            <p>
                Creativity has no limit. And some of the things that people can imagine and create can actually leave us spellbound.
                And the whole point of our imagination and creativity is to make our lives easier and better
            </p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Technology Trainings </h2>
            <p>This section is for technology training that the experts can teach to other educators.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Computer Science Talks</h2>
            <p>In the evolving world of computer science, it can be difficult to stay on the cutting edge. One of the best ways to keep your knowledge and your inspiration updated is to stay engaged with the brightest minds and latest ideas.</p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
        <div class="col-sm-3">
            <h2>Advanced Courses</h2>
            <p>One of the most amazing innovations in online learning over the past few years has been the growth and development of massive open online courses, better known as MOOCs. Generally speaking, MOOCs are college-level courses made available, free of charge, for unlimited participation by any and all students interested in the subject matter. </p>
            <p><a class="navy-link" href="#" role="button">Details &raquo;</a></p>
        </div>
    </div>
</div>
    
    <a class="carousel-control-prev" href="#inSlider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#inSlider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>



<section id="team" class="gray-section team">
        <div class="container">
            <div class="row m-b-lg">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Our Team</h1>
                    <p>Team Of Experts</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 wow fadeInLeft">
                    <div class="team-member">
                        <img src="/assets/images/landing/lakewavatar.jpg" class="img-fluid rounded-circle img-small" alt="">
                        <h4><span class="navy">Lakew</span> Mulat</h4>
                        <p>Senior Software Engineer At Microsoft. </p>
                        <ul class="list-inline social-icon">
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member wow zoomIn">
                        <img src="/assets/images/landing/yirgaavatar.jpg" class="img-fluid rounded-circle" alt="">
                        <h4><span class="navy">Yirga</span> Mulat</h4>
                        <p>Senior Software Engineer At Microsoft.</p>
                        <ul class="list-inline social-icon">
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInRight">
                    <div class="team-member">
                        <img src="/assets/images/landing/workuavatar.JPG" class="img-fluid rounded-circle img-small" alt="">
                        <h4><span class="navy">Worku</span> Mulat</h4>
                        <p>
                            PhD in Molecular Microbial Ecology
                        </p>
                        <ul class="list-inline social-icon">
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInRight">
                    <div class="team-member">
                        <img src="/assets/images/landing/ammanavatar.JPG" class="img-fluid rounded-circle img-small" alt="">
                        <h4><span class="navy">Ammanuel</span> Gessesse</h4>
                        <p>
                            Principal Software Engineer
                        </p>
                        <ul class="list-inline social-icon">
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center m-t-lg m-b-lg">
                    <p>You can contact one of these experts based on your need.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
                <p class="m-t-sm">
                    Or follow us on social platform
                </p>
                <ul class="list-inline social-icon">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
				<div class="col-lg-12 text-center">
					795 Folsom Ave, Suite 600<br/>
                    San Francisco, CA 94107<br/>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
					</div>
            <div class="col-lg-12 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2019 OHDB</strong><br/> </p>
				 
            </div>
       </div>
    </div>
</section>
</body>
</html>
